.carousel {
  &-img-container {
    padding: rem(30px) rem(36px) rem(30px) rem(36px);
  }

  &-img {
    max-width: 100%;
  }

  &-controls {
    position: absolute;
    bottom: rem(15px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: rem(28px);
    box-shadow: rem(0px) rem(15px) rem(20px) rem(-10px) rgba(36, 36, 113, 0.0991313);
    display: flex;
    overflow: hidden;

    &>button {
      height: rem(40px);
      width: rem(40px);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      background-color: #fff;
    }
  }

  &-text-container {}

  &__testimonial {}

  &__name {}

  &__role {}
}