.carousel {
  &-img-container {
    background: url("/images/pattern-bg.svg") center center/contain no-repeat;
    padding: rem(30px) rem(36px) rem(14px) rem(36px);
    width: 326.25px;
    height: rem(302.25px);

    @include breakpoint-up(medium) {
      padding: 8.5% 12.5% 7.3% 8.8%;
      height: auto;
      max-width: rem(698px);
      width: 100%;
    }
  }

  &-img {
    border-radius: rem(5px);
    box-shadow: rem(0px) rem(40px) rem(50px) rem(-30px) rgba(36, 36, 113, 0.495001);
    width: 100%;
    max-width: rem(253px);

    @include breakpoint-up(medium) {
      max-width: rem(540px);
    }
  }

  &-slide {
    opacity: 0;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    &.active {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      position: relative;

      &.l-col-to-row {
        @extend .l-col-to-row;
      }
    }

    &.next {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }

    &.prev {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  &-controls {
    bottom: rem(-3px);
    box-shadow: rem(0px) rem(15px) rem(20px) rem(-10px) rgba(36, 36, 113, 0.0991313);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;

    @include breakpoint-up(medium) {
      bottom: 4%;
      left: calc(8.5% + 4rem);
      -webkit-transform: none;
      transform: none;
    }

    &>button {
      background-color: #fff;
      border: none;
      cursor: pointer;
      min-height: unquote("clamp(2.5rem, 2.5rem + ((100vw - 375px) * ((56 - 40) / (1440 - 375))), 3.5rem)");
      min-width: unquote("clamp(2.5rem, 2.5rem + ((100vw - 375px) * ((56 - 40) / (1440 - 375))), 3.5rem)");
    }
  }

  &-text-container {
    position: relative;
    color: $darkBlue;
    font-size: unquote("clamp(0.9375rem, 0.9375rem + ((100vw - 375px) * ((20 - 15) / (1440 - 375))), 1.25rem)");
    line-height: calc(4/3);
    text-align: center;

    @include breakpoint-up(medium) {
      line-height: 1.9;
      text-align: left;
    }
  }

  &__testimonial {
    font-size: unquote("clamp(1.125rem, 1.125rem + ((100vw - 375px) * ((32 - 18) / (1440 - 375))), 2rem)");
    font-weight: 300;
    margin-bottom: rem(19px);
    position: relative;

    @include breakpoint-up(medium) {
      line-height: 1.375;
      margin-bottom: rem(32px);
      top: rem(30px);
      left: rem(17px);
    }
  }

  &__person {
    position: relative;

    @include breakpoint-up(medium) {
      top: rem(32px);
      left: rem(17px);
    }
  }

  &__name {
    font-weight: 700;

    @include breakpoint-up(medium) {
      margin-right: rem(10px);
    }
  }

  &__role {
    color: $grayishBlue;
    font-weight: 500;
  }
}

#previous-slide svg,
#next-slide svg {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#previous-slide:hover,
#next-slide:hover {
  background-color: $grayishBlue;

  & svg {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

#previous-slide:active,
#next-slide:active {
  background-color: $darkBlue;
}

#previous-slide {
  border-top-left-radius: rem(28px);
  border-bottom-left-radius: rem(28px);
}

#next-slide {
  border-top-right-radius: rem(28px);
  border-bottom-right-radius: rem(28px);
}