.l- {
  &col-to-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    @include breakpoint-up(medium) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }

    &__rev {
      @include breakpoint-up(medium) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
      }
    }
  }

  &flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &img-block {
    position: relative;
    margin-bottom: rem(50.5px);
    flex: 1 1 60%;

    @include breakpoint-up(medium) {
      margin-bottom: 0;
    }
  }

  &text-block {
    position: relative;
    margin: 0 rem(8px) rem(54px) rem(8px);
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;

    @include breakpoint-up(medium) {
      margin: 0;
      // height: rem(661px);
      // width: rem(698px);
    }

    &--abs-wrapper {
      width: rem(311px);
      height: rem(221px);

      @include breakpoint-up(medium) {
        position: absolute;
        width: 113%;
        height: rem(354px);
        -webkit-transform: translateY(-37%);
        transform: translateY(-37%);
        left: 12%;
      }
    }

    &--quote {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%) scale(0.5);
      transform: translateX(-50%) scale(0.5);
      top: rem(-43px);

      @include breakpoint-up(medium) {
        -webkit-transform: none;
        transform: none;
        left: 15%;
        top: -10%;
      }
    }
  }
}