.l- {
  &flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;

    @include breakpoint-up(medium) {
      flex-direction: row-reverse;
    }
  }

  &img-block {
    position: relative;
    margin-bottom: rem(50.5px);
    flex: 1;
  }

  &text-block {
    position: relative;
    margin: 0 rem(8px) 0 rem(8px);
    flex: 1;

    &__quote {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) scale(0.5);
      top: rem(-43px);
    }
  }
}